@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: "Bitstream Vera Serif Bold";
    src: url("https://mdn.github.io/css-examples/web-fonts/VeraSeBd.ttf");
}

body {
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    background-color: rgb(0, 0, 0);
}


.logo_head {
    padding-right: 40px;
}

.navigation a {
    font-size: 30px;
    padding: 6px 50px;
    border-radius: 20px;
    text-decoration: none;
    color: rgb(255, 243, 73);
    z-index: 400px;
}

.navigation .link_head:hover{
    color: rgb(255, 0, 0);
}

.tiret {
    pointer-events: none;
}


.slider {
    margin-top: 200px;
    width: 100%;
    height: 1080px;
    border-radius: 0px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 1080px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 1080px;
}

.navigation-manuel{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manuel-btn{
    border: 2px solid rgb(0, 0, 0);
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manuel-btn:not(:last-child){
    margin-right: 40px;
}

.manuel-btn:hover{
    background: rgb(0, 0, 0);
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1040px
}
    
.navigation-auto div{
    border: 2px solid rgb(0, 0, 0);
    padding: 15px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: rgb(51, 224, 255);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: rgb(51, 224, 255);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: rgb(51, 224, 255);
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: rgb(51, 224, 255);
}

#radio5:checked ~ .navigation-auto .auto-btn5{
    background: rgb(51, 224, 255);
}



.footer {
    height: 80px;
    width: 100%;
    background-color: black; 
    text-align: center;
    position: fixed;
    bottom: 0;
}

.footnav {
    font-size: 15px;
    border-radius: 20px;
    color: rgb(255, 243, 73);
}

.footer_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.logo_foot {
    flex-direction: row;
    margin-bottom: 10px;
}

.transition {
    position:absolute;
    background-color: rgb(161, 161, 143);
    width: 100%;
    padding: 10px;
    overflow: hidden;
}


.text_accueil {
    margin-top: 30px;
    width: 100%;
    height: 800px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 243, 73);
    text-align: center;
}

.text_accueil a{
    color: red;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.msg_accueil {
    font-size: 60px;

}


.informations {
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 600px;
    background-color: rgb(48, 48, 48);
    border-radius: 20px;
    border:rgb(255, 243, 73) solid 5px;
}

.informations fieldset {
    text-align: center;
    border: none;
    color: rgb(255, 243, 73);
    text-decoration: underline;
    padding: 5px;
    margin-bottom: 5px;
} 

.informations ul{
    list-style: none;
}




.blocks {
    margin-top: 200px;
    width: 100%;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 10px 20px 20px rgb(0, 0, 0, 0.17);
    display: inline-block;
    padding: 30px 35px;
    perspective: 1800px;
    text-align: left;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    transform: rotateX(11 deg) rotateY(16,5 deg);
    min-width: 595px;
}


.block {
    border-radius: 15px;
    box-shadow: 5px 5px 20px -5px rgb(0, 0, 0, 0.6);
    display: inline-block;
    height: 175px;
    overflow: hidden;
    perspective: 1200px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(35px);
    transition: transform 200ms ease-out;
    width: 175px;
    text-align: center;
    cursor: pointer;
}

.block_text {
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.block_titre {
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 0 10px;
    margin-bottom: 3px;
}

#info_metier {
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-content: space-evenly;
}

#info_metier .block_imgg {
    width: 200px;
    height: 200px;
    border: 15px solid rgb(0, 255, 98);
    border-radius: 40px;
    margin-bottom: 20px;
}

#info_metier .block_imgb {
    width: 200px;
    height: 200px;
    border: 15px solid rgb(40, 195, 241);
    border-radius: 40px;
    margin-bottom: 20px;
}

#info_metier  ~ h2+p {
    display: flex;
    flex-direction: column;
}

#info_metier .info_img{
    margin-top: 20px;
    margin-bottom: 20px;
    width: +20%;
}

#info_metier h2{
    color: rgb(255, 243, 73);
    text-decoration:overline underline;
    font-size: 30px;
}

#info_metier p{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}


.info_alchimiste{
    display: none;
}

.info_bucheron {
    display: none;
}

.info_chasseur{
    display: none;
}

.info_mineur{
    display: none;
}

.info_paysan{
    display: none;
}

.info_pecheur{
    display: none;
}

.info_cordonnier{
    display: none;
}

.info_forgeron{
    display: none;
}

.info_sculpteur{
    display: none;
}

.info_bijoutier{
    display: none;
}

.info_bricoleur{
    display: none;
}

#compteurJoueurs{
    background-color: aqua;
}

#submitBtn {
    background-color: red;
}