@font-face {
    font-family: "Bitstream Vera Serif Bold";
    src: url("https://mdn.github.io/css-examples/web-fonts/VeraSeBd.ttf");
}

body {
    background-image: url(../img/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;


}
header {
    text-align: center;
    padding: 20px;
    flex: 0 1 auto;
}

table img {
    width: 100px;
    height: 100px;
}
table {
    margin-top: 20px; 
}

.titretableau{
    width: 623px; 
    height: 75px; 

}

.descripersodiv {
    background-color: aqua;
    display: none;
    border: 1px solid #000;
    height: 190px;
    width: 290px;
    margin-left: 10px;
  }
  .descriperso {
    cursor: pointer;
}
.descriperso:hover+div {
    display: block;
  }

  .footer {
    background-color: black; 
    color: rgb(255, 243, 73); 
    text-align: center;
    padding: 20px;
    width: 100%;
    position: fixed;
    left:0px;
    bottom:0;
    height: 80px;

}

.footnav {
    font-size: 15px;
    border-radius: 20px;
    color: rgb(255, 243, 73);
}

.footer_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_foot {
    flex-direction: row;
    margin-bottom: 10px;
}

#myInput {
    background-color: rgb(221, 240, 18);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 30%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }

#champion {
    background-color: rgb(233, 19, 19);
}
h2{
    background-color:brown;
    width: 15%;
}

#ulperso {
    background-color: rgb(225, 236, 13);
}

.column {
    float: left;
    width: 20%; 
    background-color:rgb(58, 59, 58)
}   