@font-face {
    font-family: "Bitstream Vera Serif Bold";
    src: url("https://mdn.github.io/css-examples/web-fonts/VeraSeBd.ttf");
}

table img {
    width: 100px;
    height: 100px;
}
table {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: start; 
    margin-top: 200px; 
    margin-left: auto;
    margin-right: auto;
}


.descripersodiv {
    background-color: rgb(3, 3, 3);
    display: none;
    border: 1px solid rgb(255, 243, 73);
    height: autopx;
    width: 290px;
    margin-left: 10px;
  }

  .descriperso {
    cursor: pointer;
}

.descriperso:hover+div {
    display: block;
  }

#myInput {
    background-color: rgb(0, 0, 0);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 300px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }

#champion {
    background-color: rgb(0, 0, 0);
}
h2{
    background-color:brown;
    width: 300px;
}

#ulperso {
    background-color: rgb(225, 236, 13);
}

.column {
    margin-left: 20px;
    float: left;
    width: 20%; 

}   